[Mode]
debug = True

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = NBI
loc = /groups/icecube/$USER/workspace/pyglidein
#delay = 600

[Cluster]
user = $USER
os = CentOS6
scheduler = slurm
submit_command = sbatch
max_total_jobs = 9
max_idle_jobs = 2
limit_per_submit = 9
mem_per_core = 5000
walltime_hrs = 24
#cvmfs = True
gpu_only = True
group_jobs = False
running_cmd = squeue --users=$USER | grep -v JOBID | wc -l
partition = icecube_gpu

[SubmitFile]
#filename = glidein_cpu.sh
#local_dir = /scratch/$USER/pyglidein/$SLURM_JOB_ID
local_dir = $SCRATCH
#custom_end = rm -rf $LOCAL_DIR

[CustomEnv]
GLIDEIN_DIR = /groups/icecube/$USER/workspace/pyglidein
