[Mode]
debug = True

[Glidein]
address = http://glidein-simprod.icecube.wisc.edu:11001/jsonrpc
site = NBI
loc = /groups/icecube/$USER/cluster/pyglidein
#delay = 600

[Cluster]
user = $USER
os = CentOS6
scheduler = slurm
submit_command = sbatch
max_total_jobs = 9
max_idle_jobs = 2
limit_per_submit = 9
mem_per_core = 5000
walltime_hrs = 24
#cvmfs = True
gpu_only = True
group_jobs = False
running_cmd = squeue --users=$USER | grep -v JOBID | wc -l
partition = icecube_gpu

[SubmitFile]
#filename = glidein_cpu.sh
# The location on the machine running client.py for temporary stuff to be placed
#local_dir = $SCRATCH
local_dir = /groups/icecube/$USER/cluster/scratch
#custom_end = rm -rf $LOCAL_DIR

[CustomEnv]
# Can point to a new location here, but the "local_dir" defined above is fine 
#GLIDEIN_DIR = /groups/icecube/$USER/cluster/pyglidein
